body{
    background-color: #ddd;
    margin: 0;
    padding: 0;
}

.navbar-nav {
    display: flex;
    justify-content: space-around;
}

.navbar-custom {
    background-color: #000000;
}

.navbar-custom .dropdown-menu {
    background-color: #000000;
    /* Fondo negro para el menú desplegable */
}

.navbar-custom .dropdown-item {
    color: #ffffff;
    /* Color blanco para los elementos del menú desplegable */
}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: #cccccc;
    /* Blanco más claro para los elementos del menú desplegable al pasar el cursor */
    background-color: #333333;
    /* Fondo gris oscuro para los elementos al pasar el cursor */
}

/*******************SECCION PRINCIPAL********************/

.wrapper{
    display: flex;
    margin: auto;
    margin-top: 100px;
    max-width: 1300px;
    gap: 50px;
    justify-content: space-between;
}
p{
    font-family: montserrat;
    line-height: 1.5;
}


aside{
    background-color: #bbb;
    min-height: 600px;;
    width: 25%;
}

.main{
    max-width: 800px;
    display: flex;
    flex-direction: column;
}
.section{
    margin: 20px 0 20px 0;
}

.separator::before{
    content: '/';
}

h1{
    margin: 20px 0 15px 0;
    font-family: Playfair Display, sans-serif;
    font-size: 2.7rem;
}
h2{
    font-size: 2em;
    font-family: montserrat, sans-serif;
}

.container-img{
    width: 100%;
    margin: 40px 0 40px 0;
}
.container-img img{
    width: 100%;
}


.service-section{
    display: flex;
    justify-content: center;
}

.image img{
    width: 100%;
}

ul li{
    line-height: 3;
    font-size: 1.2rem;
}
