body{
    background-color: #ddd;
    margin: 0;
    padding: 0;
}

.navbar-nav {
    display: flex;
    justify-content: space-around;
}

.navbar-custom {
    background-color: #000000;
}

.navbar-custom .dropdown-menu {
    background-color: #000000;
    /* Fondo negro para el menú desplegable */
}

.navbar-custom .dropdown-item {
    color: #ffffff;
    /* Color blanco para los elementos del menú desplegable */
}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: #cccccc;
    /* Blanco más claro para los elementos del menú desplegable al pasar el cursor */
    background-color: #333333;
    /* Fondo gris oscuro para los elementos al pasar el cursor */
}

/*******************SECCION PRINCIPAL********************/

.window-modal{
    display: none;
    text-align: justify;
    padding: 15px;
}

.main{
    display: flex;
    flex-direction: column;
}

.payrolls-section{
    background-color: #000d;
    height: auto;
}


.container-buttons{
    max-width: 80%;
    padding: 30px;
    margin: auto;
    max-height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, minmax(100px, 200px));
    justify-items: center;
    gap: 10px;
}
h2{
    text-align: center;
    color: #c12e21;
}
.container-h2{
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: space-evenly;
    text-align: justify;
    width: 80%;
    grid-column-end: span 1;
    grid-row-end: span 1;
}

.button-payrolls{
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: none;
}

.button-payrolls:nth-child(2){
    grid-column-start: 2;
    grid-row-start: 1;
    grid-column-end: span 1;
    grid-row-end: span 1;
}
.button-payrolls:nth-child(3){
    grid-column-start: 3;
    grid-row-start: 1;
    grid-column-end: span 1;
    grid-row-end: span 2;
}
.button-payrolls:last-child{
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: span 2;
    grid-row-end: span 1;
}


.button-payrolls img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: solid 1px;
    border-radius: 5px;
}





