body{
    background-color: #ddd;;
    margin: 0;
    padding: 0;
    font-family: montserrat, sans-serif, Arial;
}







/*BODY*/

/*Seccion donde se encuentra la informacion de quien es H2C*/

.containerInfo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    
}



.conteinerH2C{
    display: flex;
    flex-direction: column;
    align-items:start;
    
    
}

.conteinerH2C h2 {
    font-size: 40px;
}

.conteinerH2C h3 {
    font-size: 25px;
    color: red;
    text-decoration: underline;
}

.imgH2c img {
    max-width: 320px;
    
}

.txt {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 50%;
}

.infoH2C p {
    font-size: 20px;
    text-align: justify;
}

.infoH2C {
    padding-bottom: 20px;
}

/* Media QUERY de la seccion de informacion de H2C*/ 
@media (max-width: 600px) {
    .containerInfo {
        flex-direction: column;
        
    
    }

        .conteinerH2C{
            display: flex;
            flex-direction: column;
            align-items:center;         
        }
        
        .conteinerH2C h2 {
        
            font-size: 50px;    
        }
        
        .conteinerH2C h3 {
            font-size: 27px;
            color: red;
            text-decoration: underline;   
        }
        
        .imgH2c img {
            width: 280px;
            
        }
        
        .txt {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            max-width: 85%;
        }
        
        .infoH2C p {
            font-size: 20px;
            
        }

    }   


.separacion {
    text-align: center;
}
.separacion h2 {
    font-size: 30px;
    color: white;
    
}




.container1 {
    background-color:#c12e21 ;
    padding-top: 40px;
    padding-bottom: 20px;
} 


.txtRelacion{
    color: white;
}

.txtRelacion h2 {
    font-size: 30px;
}

.txtRelacion p {
    font-size: 15px;
    line-height: 1.5;
    
}
.txtRelacion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.imgrelacion{
    padding-bottom: 60px;
}

@media screen and (min-width: 576px){
    .carousel-inner{
        display: flex;
    
        
    .carousel-item {
        display: block;
        margin-right: 5%;
        flex: 0 0 calc(100%/4);
    }

}
.btndesactivado {
    display: none;
}

}



.carousel-inner{
    padding: 1em;
}


.imgWrapped {
    max-width: 100%;
    display: flex;
    justify-content: center;
}
img {
    max-width: 100%;
    max-height: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%) sepia(100%) saturate(500%) hue-rotate(180deg);
}

/***************FOOTER**************/

.container-redes-link{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
}

.link-redes {
    background-color: #ac2bac;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 100%;
    display: flex;
    align-items: center;
}
.link-redes:hover{
    filter: brightness(50%);
}


/*****************ANIMACIONES*****************/

@keyframes header-scroll {
    from {
        background-color: #000;
        padding: 20px;
    }

    to {
        background-color: #000d;
        padding: 0;
    }
}



@keyframes opacity {
    from {
        opacity: 0.2;
        top: 100px;
    }

    50%{
        top: 50px;
    }

    to {
        opacity: 1;
        top: 0;
    }
}

