body{
    background-color: #ddd;;
    margin: 0;
    padding: 0;
    font-family: montserrat, sans-serif, Arial;
}

/* HEADER*/
.header{
    background-color: #000d;
    min-height: 125px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    container-name: header;
    container-type: inline-size;
}

.checkbox-menu{
    display: none;
}

.checkbox-menu:checked ∼ .nav-menu{
    display: none;
    color: aqua;
}

.menu-hamburguesa{
    color: #fff;
    font-size: 3em;
}

.nav-menu{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-grow: 3;
}

.link-menu{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    transition: .4s;
}

.link-menu:hover{
    background-color: #f008;
}

.link-menu:active{
    background-color: #f005;
}

.container-logo{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.logo{
    width: 80px;
}

/*MEDIA QUERIES DEL HEADER*/

@container header(max-width: 760px){

}

/*BODY*/

/*Seccion donde se encuentra la informacion de quien es H2C*/

.containerInfo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    width: auto;
    
}



.conteinerH2C{
    display: flex;
    flex-direction: column;
    align-items:start;
    
    
}

.conteinerH2C h2 {
    font-size: 40px;
}

.conteinerH2C h3 {
    font-size: 25px;
    color: red;
    text-decoration: underline;
   
}

.imgH2c img {
    max-width: 320px;
    
}

.txt {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 50%;
}

.infoH2C p {
    font-size: 20px;
    text-align: justify;
}

.infoH2C {
    padding-bottom: 20px;
}

/* Media QUERY de la seccion de informacion de H2C*/ 
@media (max-width: 600px) {
    .containerInfo {
        flex-direction: column;
        
    
    }

        .conteinerH2C{
            display: flex;
            flex-direction: column;
            align-items:center;
            border: solid 1px;       
        }
        
        .conteinerH2C h2 {
        
            font-size: 50px;
           
        }
        
        .conteinerH2C h3 {
            font-size: 27px;
            color: red;
            text-decoration: underline;
           
        }
        
        .imgH2c img {
            width: 280px;
            
        }
        
        .txt {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            max-width: 85%;
        }
        
        .infoH2C p {
            font-size: 20px;
            
        }
           
    }   


/* Seccion Informacion de relacion entre H2C y nostros*/

.h2relacion{
    padding-top: 20px;
}

.container1 {
    background-color:#c12e21 ;
}

.container1 h2 {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container1 p {
    color: #ffffff;
    font-family: montserrat, sans-serif, Arial;
}

.relacion {
    display: flex;
    justify-content: space-around;
}

.imgrelacion  {
    width: 50%;
    display: flex;
    justify-content: center;
}

.imgrelacion img {
    width: 80%;
}

.txtrelacion {
    width: 50%;
    padding: 30px;
    text-align: justify;
}

.txtrelacion1 {
    font-size: 18px;
}

.txtrelacion2 {
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    .relacion {
       
    flex-direction: column;
    align-items: center;
    }
    .imgrelacion  {
        width: 100%;
    }
    .txtrelacion {
        width: 80%;
            }
}