.navbar-nav {
    display: flex;
    justify-content: space-around;
}



.link:hover{
    color: #b00 !important;
    transition: 1s;
}

.container-redes-link{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
}

.link-redes {
    background-color: #ac2bac;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 100%;
    display: flex;
    align-items: center;
}
.link-redes:hover{
    filter: brightness(50%);
}

.text-white {
    text-decoration: none;
}

@media screen and (max-width: 992px) {

    .container-links{
        width: auto !important;
        margin-right: 0;
        margin-left: 0;
    }

}









