body{
    background-color: #000d;
    margin: 0;
    padding: 0;
    font-family: montserrat, sans-serif, Arial;
}




.wrapper{
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    margin: auto;
    padding: 40px;
    gap: 40px;
}

.container-cards{
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 250px));
    justify-content: space-between;
    justify-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
    animation: opacity 1s both;
    position: relative;
    bottom: 0;
    transition: bottom 1s;
    width: 100%;
}

.container-img-card{
    width: 100%;
    max-height: 100px;
    padding: 15px;
}

.container-img-card img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card h2{
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 700;
}

.container-info-form{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px #0008;
    background-color: #ddd;
    border-radius: 20px;
    overflow: hidden;
    animation: opacity 1s both;
}

.form{
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 20px;
    flex-grow: 4;
    color: #000;
    background-color: #ddd;
}

.form h2{
    text-align: center;
}


.container-info-personal{
    display: flex;
    flex-wrap: wrap;
}
.container-input{
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    margin: 10px;
}

label{
    font-weight: 500;
}


.container-info-contacto{
    display: flex;
    flex-direction: column;
}

.txtarea{
    resize: none;
    min-height: 150px;
}


.submit-container{
    align-self: end;
}

.container-map{
    width: 50%;
}

input{
    padding: 5px;
    border-radius: 3px;
    width: 100%;
    border: none;
}

.card:hover{
    bottom: 20px;
}
.container-submit{
    align-self: flex-end;
}

@media screen and (max-width: 1080px) {
    .container-cards{
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

@media screen and (max-width: 750px) {
    .container-info-form{
        flex-direction: column;
        min-height: 900px;
        justify-content: center;
        overflow: visible;
        border-radius: 0;
    }
    .form{
        width: 100%;
        max-height: 600px;
    }
    .container-map{
        width: 100%;
        min-height: 500px;
    }
    .container-map iframe{
        height: 500px !important;
    }
}

@media screen and (max-width: 600px) {
    .container-cards{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
}







@keyframes opacity {
    from{
        opacity: 0.6;
    }

    to{
        opacity: 1;
    }
}