body{
    background-color: #ddd;
    margin: 0;
    padding: 0;
    font-family: montserrat, sans-serif, Arial;
    min-height: 100vh;
}

.navbar-nav {
    display: flex;
    justify-content: space-around;
}

.navbar-custom {
    background-color: #000000;
}



.navbar-custom .dropdown-menu {
    background-color: #000000;
    /* Fondo negro para el menú desplegable */
}

.navbar-custom .dropdown-item {
    color: #ffffff;
    /* Color blanco para los elementos del menú desplegable */
}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: #cccccc;
    /* Blanco más claro para los elementos del menú desplegable al pasar el cursor */
    background-color: #333333;
    /* Fondo gris oscuro para los elementos al pasar el cursor */
}

.fieldset{
    margin: 20px;
}

.form{
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px #0008;
    background-color: #ddd;
}

.form h2{
    text-align: center;
}


.container-info-personal{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.container-input{
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    margin: 10px;
}

label{
    font-weight: 500;
}


.container-info-contacto{
    display: flex;
    flex-direction: column;
}

.txtarea{
    resize: none;
    min-height: 150px;
}

.submit{
    align-self: end;
    margin: 20px;
}









/***************FOOTER**************/


.container-redes-link{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
}

.link-redes {
    background-color: #ac2bac;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 100%;
    display: flex;
    align-items: center;
}
.link-redes:hover{
    filter: brightness(50%);
}

.text-white {
    text-decoration: none;
}