.body {
    background-color: #ddd;
    margin: 0;
    padding: 0;
    font-family: montserrat, sans-serif, Arial;
    scroll-behavior: smooth;
}




/****************MAIN***************/

/*********SECCION PRINCIPAL*********/

.main {
    display: flex;
    flex-direction: column;
    margin: auto;
    
}

.name-system{
    font-weight: 600;
}

.main-section {
    height: auto;
    width: 100%;
    background: linear-gradient(to right, #000d, #000D), url("../img/Red\ Modern\ Texture\ Background\ Online\ Delivery\ -\ Banner.png");
    background-position: right;
    background-size: cover;
    display: flex;
    align-items: center;
    font-family: montserrat, sans-serif;
    padding: 20px;
    box-sizing: border-box;
}

.container-main{
    max-width: clamp(200px, 80%, 1400px);
    height: 90%;
    margin: auto;
}

.titles-main {
    color: #fff;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    width: clamp(100px, 100%, 1000px);
    margin: auto;
    text-align: center;
    animation: opacity 1s linear both;
}

.container-carrucel{
    padding: 15px 0;
    width: clamp(150px, 100%, 800px);
    margin: auto;
}

.carrucel{
    height: 100%;
    width: 100%;

}

h1 {
    color: #fff;
    font-size: clamp(1.8rem, 4dvw, 2.7rem);
    font-weight: 700;
}
.span-h1{
    background: linear-gradient(to right, #11d4ff, #55dff9);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.link-main {
    background-color: #b00;
    text-decoration: none;
    color: #fff;
    padding: 15px 15px 0;
    border-radius: 10px;
    font-weight: 600;
    transition: 1s;
    display: flex;
    gap: 10px;
}


.img-download{
    width: 20px;
    filter: invert(1);
}

.container-link-main {
    display: flex;
    justify-content: center;
    width: 60%;
}

.link-main:hover {
    background-color: #900;
}

/*************MEDIA QUERIES DE LA SECCION PRINCIPAL*************/





/************FIN SECCION PRINCIPAL*************/

/**************SERVICIOS SECCION***************/

.services-section {
    padding: 20px;
    container-type: inline-size;
    container-name: services-section;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2-services-section {
    text-align: center;
    font-family: montserrat, sans-serif;
    font-weight: 600;
    padding: 50px 10px;
    box-sizing: border-box;
    font-size: clamp(1.8rem, 4dvw, 2.7rem);
}

.container-tarjet {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 350px));
    justify-items: center;
    gap: 30px;
}

.tarjet {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0 10px #0006;
    animation: opacity 1s linear both;
    animation-timeline: view();
    animation-range: cover 0% cover 20%;
    background-color: #fff;
}

.container-text{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.tarjet h3 {
    font-size: 1.8em;
    padding: 10px;
}

.tarjet p {
    font-weight: 500;
    line-height: 1.5;
    font-size: 0.9em;
}

.container-img-tarjet {
    width: 100%;
    height: 200px;
    position: relative;
}

.img-tarjet {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(90%);
}


/*************MEDIA QUERIES DE SERVICIOS*************/

@container services-section (max-width: 1080px){
    .container-tarjet {
        grid-template-columns: repeat(2, 1fr);
    }
}

@container services-section (max-width: 550px){
    .container-tarjet {
        grid-template-columns: repeat(1, 1fr);
    }
}


/***************FIN SERVICIOS****************/

/***********INFORMACION H2C SECCION**********/

.H2C-information-section {
    background-color: #fff;
    min-height: 500px;
    display: flex;
    align-items: center;
    container-type: inline-size;
    container-name: information-section;
}

.information-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-h2c-information-container {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.h3-container-information {
    font-size: 1.8em;
    color: #c12e21;
    position: relative;
    animation: opacity 1s linear both;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
}

.img-h2c-information {
    width: 50%;
    position: relative;
    animation: opacity 1s linear both;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
}

.container-information {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: auto;
}

.container-text-information {
    flex-grow: 2;
}

.text-h2c {
    width: 80%;
    text-align: justify;
    font-weight: 500;
    font-family: montserrat, sans-serif;
    line-height: 1.5;
    position: relative;
    animation: opacity 1s linear both;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
}

.container-information-button {
    flex-grow: 3;
}

.button-information {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #c12e21;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 10;
    transition: color 1s;
    letter-spacing: 1.3px;
}

.link-h2c{
    background-color: #c12e21;
    padding: 15px 30px;
    border-radius: 20px;
    letter-spacing: 1.2px;
    font-size: 1.2em;
    text-decoration: none;
    color: #fff;
}

.link-h2c:hover{
    background-color: #b00;
}


/*************MEDIA QUERIES SECCION DE INFORMACION****************/

@container information-section (max-width: 800px) {

    .information-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .text-h2c {
        width: 100%;
    }

    .img-h2c-information {
        width: 80%;
    }

    .container-information {
        width: 80%;
    }

    .text-h2c {
        width: 80%;
        margin: auto;
    }

    .container-information-button {
        padding: 30px 10px;
    }

    .link-h2c{
        padding: 10px 25px;
        letter-spacing: 1;
    }
}

/*************FIN SECCION DE INFORMACION****************/


/***************SECCION DE RESEÑAS******************/

.reviews-section{
    container-type: inline-size;
    container-name: reviews-section;
    margin-top: 100px;
    min-height: 300px;
    width: 100%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.reviews-section h2{
    font-family: Playfair Display, sans-serif;
    font-size: 2.5em;
    font-weight: bolder;
}

.reviews-section h3{
    margin-top: 25px;
    font-size: 1.4em;
}

.reviews-container{
    padding: 20px;
    margin-top: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 350px);
    justify-items: center;
    justify-content: center;
    gap: 100px 20px;
}

.review{
    width: clamp(100px, 100%, 350px);
    display: flex;
    flex-direction: column;
    border: solid 1px;
    background-color: #fff;
    animation: opacity 1s linear both;
    animation-timeline: view();
    animation-range: cover 0% cover 20%;
}

.img-review{
    flex-grow: 1;
    border: solid 1px;
    max-height: 60px;
}

.img-review img{
    clip-path: circle(35%);
    width: 150px;
    height: 100px;
    position: relative;
    top: -75px;
}

.stars-container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

.star{
    background-color: rgb(235, 185, 48);
    width: 50px;
    height: 40px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.review-text{
    flex-grow: 3;
    padding: 15px;
    border: solid 1px;
}

.review-name{
    flex-grow: 1;
    border: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-name h3{
    position: relative;
    top: -10px;
}

@container reviews-section (max-width: 1500px){
    .reviews-container{
        max-width: 1000px;
        margin: 100px auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@container reviews-section (max-width: 650px){
    .reviews-container{
        grid-template-columns: repeat(1, clamp(100px, 100%, 500px));
        grid-template-rows: repeat(4, 1fr);
    }
}




/***************FOOTER**************/

.container-redes-link{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
}

.link-redes {
    background-color: #ac2bac;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 100%;
    display: flex;
    align-items: center;
}
.link-redes:hover{
    filter: brightness(50%);
}

.text-white {
    text-decoration: none;
}

/*****************ANIMACIONES*****************/

@keyframes header-scroll {
    from {
        background-color: #000;
        padding: 20px;
    }

    to {
        background-color: #000d;
        padding: 0;
    }
}



@keyframes opacity {
    from {
        opacity: 0.2;
        top: 100px;
    }

    50%{
        top: 50px;
    }

    to {
        opacity: 1;
        top: 0;
    }
}